#agents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.sorting-button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    border-radius: 5px;
}

.sorting-button.active {
    background-color: #ff4655;
    color: #ffffff;
    border-color: #ff4655;
}

.sorting-button:hover {
    background-color: #ffffff;
    color: #000000;
}

