main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weapons-container {
    background-color: #0F1923;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 2.5rem;
    height: 71rem;
}

.weapons-container>div {
    margin: 1rem;
}

.category-name {
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
}

.weapon-card {
    background-color: rgba(174, 174, 174, 0.1);
    border: 0.19rem solid rgba(240, 240, 240, 0.1);
    margin: 1.25rem 0rem 0rem 0rem;
    width: 19.375rem;
    height: 9.875rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.weapon-icon {
   width: 17.68rem;
   height: 5.69rem;
   object-fit: contain;
   margin: 1.63rem 0.88rem 0.4rem 0.88rem;
}

.weapon-name {
    font-size: 1rem;
    padding-left: 0.6rem;
    text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 1390px) {

    .weapons-container {
        height: 93rem;
    }
}
@media (min-width: 320px) and (max-width: 1050px) {

    .weapons-container {
        height: 136rem;
    }
}
@media (min-width: 320px) and (max-width: 694px) {

    .weapons-container {
        height: initial;
    }
}