/* global.css */

/* Fonts Awesome */
@font-face {
    font-family: 'Tungsten';
    src: url('../../fonts/Tungsten-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN Next';
    src: url('../../fonts/DIN Next W01 Regular.otf') format('opentype');
}

@font-face {
    font-family: 'DIN Next Medium';
    src: url('../../fonts/DIN Next W10 Medium.otf') format('opentype');
}

@font-face {
    font-family: 'FF Mark';
    src: url('../../fonts/FontFont_FF.Mark.Pro.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "FF Mark", Arial, sans-serif;
    background-color: #0f1923;
    color: #f2f2f2;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* Navbar */
.navbar {
    background-color: #000000;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: #FF4655;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
}   

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a.active {
    color: #FF4655;
    font-weight: bold;
    border-bottom: 1px solid #FF4655;
    padding-bottom: 0.5rem; 
}

.nav-links a:hover {
    color: #FF4655;
}

/* Button */
.light-btn {
    padding: 1rem 1.5rem;
    background: #FF4655;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 150px;}

.light-btn:hover {
    background: #000;
    color: #fff;
}

.dark-btn {
    padding: 1rem 1.5rem;
    background: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 150px;
}
.dark-btn:hover {
    background: #fff;
    color: #000;
}

/* Banner Heading */
.banner-heading {
    font-family: 'Tungsten';
    font-size: 3rem;
    color: #fff;
    background-color: #FF4655;
    padding: 0.25rem 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 2rem 2rem;
    text-align: center;
}

.footer-socials {
    margin-bottom: 1rem;
}

.footer-socials a {
    margin: 0 0.5rem;
    display: inline-block;
}

.footer-socials img {
    filter: saturate(0) brightness(0) invert(1);
}

.footer-logo h1 {
    margin: 1.25rem 0;
    font-size: 1.5em;
    color: #FF4655;
}

.footer-links {
    margin: 1.25rem 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1em;
}

.footer-links a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #777;
    margin: 1.25rem auto;
    max-width: 70%;
}

.footer-copy p {
    font-size: 0.8rem;
    color: #777;
    margin: 0.25rem 0;
}
